@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap');

* {
  font-family: Roboto;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #F1F1E6;
  font-weight: normal;
}
h1 {
  font-size: 2rem;
  font-family: Lobster;
  font-weight: normal;
}
p, span {
  font-size: 1rem;
}
a {
  text-decoration: none;
}
button {
  border: none;
}
.nav {
  width: 100%;
  background-color: #0093d5;
}
.nav > .logo-section {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100px;
}
.logo-section > div {
  width: 50%;
  padding: 0 10px
}
.calorie-info {
  display: flex;
  flex-direction: column;
}
.nav > nav {
  width: 100%;
  padding-top: 10px;
  height: 50px;
  display: flex;
  background-color: #0093D5;
  box-shadow: inset 10px 10px 100px 0px rgba(0,0,0,0.1);
}
nav > a {
  padding: 10px;
  font-weight: 500;
  margin: 0 5px;
  background-color: #0058AD;
  border-radius: 5px 5px 0 0;
}

#profile, #meals, #search {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom, #0093d5, #00b0e2, #00cae2, #00e3d9, #70facb);
}
.profile-user p,
.profile-user span {
  font-size: 1.5rem;
}
.profile-content {
  width: 100%;
}
.profile-user,
.profile-content > div {
  text-align: center;
  padding: 10px 0;
}
.profile-content > section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #0093D5;
  box-shadow: inset 10px 10px 100px 0px rgba(0,0,0,0.1);
  height: 50px;
}
.profile-content button {
  background-color: #0058AD;
  padding: 0 5px;
  cursor: pointer;
}
.profile-content input,
.profile-content button {
  height: 25px;
}
.profile-content input {
  color: black;
}

@media screen and (min-width: 767px) {
  .calorie-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .calorie-info p {
    margin-right: 10px;
  }
}